*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

body {
  font-family: Raleway, Arial, Helvetica, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.links {
  color: #C0A062;
  padding: 0.5rem 2%;
  border: 1px solid #C0A062;
  display: block;
  margin: auto;
  font-size: 0.8rem;
  width: 40%;
  text-align: center;
  transition: 0.5s;
}
.links:hover {
  background-color: #C0A062;
  color: black;
  transition: 0.5s;
}
@media (min-width: 800px) {
  .links {
    padding: 1rem 0.2%;
    font-size: 1rem;
  }
}

h1, h2, h3, h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 4rem;
}

a {
  text-decoration: none;
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

img {
  object-fit: contain;
}

abbr {
  text-decoration: none;
}

.second-color {
  color: #C0A062;
}

.section {
  width: 80%;
  margin: 5rem auto auto;
}
@media (min-width: 800px) {
  .section {
    margin: 8rem auto auto;
  }
}
@media (min-width: 1800px) {
  .section {
    width: 50%;
  }
}
@media (min-width: 1900px) {
  .section {
    width: 40%;
  }
}
.section h2 {
  margin-bottom: 5rem;
}

.animate {
  opacity: 0;
  transition: all 0.5s ease-out;
  transition-delay: 0.5s;
  transform: translateY(5rem);
}

.scroll-animation {
  transform: translateY(0);
  opacity: 1;
}

.rectangle:after {
  content: "";
  position: fixed;
  background-color: #2b2a2a;
  width: 30%;
  height: 120vh;
  rotate: -15deg;
  z-index: -1;
  top: -3rem;
  left: 55%;
}
@media (min-width: 800px) {
  .rectangle:after {
    left: 60%;
    width: 10%;
    rotate: -20deg;
  }
}

.main-nav {
  width: 80%;
  margin: 1rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1800px) {
  .main-nav {
    width: 50%;
  }
}
@media (min-width: 1900px) {
  .main-nav {
    width: 40%;
  }
}
.main-nav a {
  z-index: 999;
  font-size: 1.2rem;
}
.main-nav a:hover {
  color: #C0A062;
  opacity: 0.9;
}
.main-nav a img {
  height: 5rem;
  width: 50%;
}
.main-nav label {
  width: 1.8rem;
  cursor: pointer;
  z-index: 999;
  margin-left: auto;
}
.main-nav label :last-child {
  margin-bottom: 0;
}
.main-nav label span {
  display: block;
  margin-bottom: 5px;
  background-color: white;
  width: 100%;
  min-height: 0.2rem;
  border-radius: 5px;
  text-align: center;
}
.main-nav nav {
  visibility: hidden;
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  z-index: 1;
  background-color: black;
  padding-top: 60%;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.main-nav nav li {
  margin: 3rem auto 0;
  border-bottom: 1px solid #C0A062;
  width: 40%;
  padding-bottom: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
}
.main-nav nav .contact-nav {
  border-bottom: none;
}
.main-nav input:checked ~ nav {
  visibility: visible;
  right: 0;
  display: block;
}
@media (min-width: 800px) {
  .main-nav input, .main-nav label {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
  }
  .main-nav nav {
    visibility: visible;
    background-color: transparent;
    position: static;
    padding: 0;
    width: 70%;
  }
  .main-nav nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-nav nav ul li {
    margin: 0;
    width: auto;
    padding: 0;
    border-bottom: none;
  }
}
@media (min-width: 920px) {
  .main-nav nav {
    width: 50%;
  }
}

.current_page {
  color: #C0A062;
  font-weight: 700;
}

.home {
  width: 80%;
  overflow: hidden;
  margin: 5rem auto auto;
}
@media (min-width: 800px) {
  .home {
    margin: 8rem auto auto;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1800px) {
  .home {
    width: 50%;
  }
}
@media (min-width: 1900px) {
  .home {
    width: 40%;
  }
}
.home section {
  margin-bottom: 4rem;
}
@media (min-width: 800px) {
  .home section {
    width: 50%;
    margin-bottom: 0;
  }
}
.home section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.home section .name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #C0A062;
}
@media (min-width: 800px) {
  .home section .name {
    margin: 2rem auto;
  }
}
.home section p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}
@media (min-width: 800px) {
  .home section p {
    margin: 2rem auto;
  }
}
.home section a {
  width: 50%;
  font-size: 1.2rem;
  padding: 0.7rem 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
}
@media (min-width: 800px) {
  .home section a {
    width: 50%;
  }
}
@media (min-width: 800px) {
  .home .img__container {
    margin-left: auto;
    width: 35%;
  }
}
.home .img__container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 920px) {
  .contact div {
    display: flex;
  }
}
@media (min-width: 920px) {
  .contact div .contact-information {
    width: 40%;
    margin-right: 20%;
  }
}
.contact div .contact-information div {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.contact div .contact-information div img {
  margin-right: 10%;
}
@media (min-width: 920px) {
  .contact div .contact-information div img {
    margin-right: 5%;
  }
}
.contact div .contact-information #phone {
  height: 4rem;
}
.contact div .contact-information #letter {
  height: 2rem;
}
.contact div .contact-information .introducing-sentence {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.contact .contact-form {
  text-align: center;
  margin-top: 5rem;
}
@media (min-width: 920px) {
  .contact .contact-form {
    width: 40%;
    margin-top: 0;
  }
}
.contact .contact-form div {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact .contact-form div label {
  margin-top: 0.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
}
.contact .contact-form div input, .contact .contact-form div textarea {
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin: 1rem 0;
  padding: 0.6rem;
  border-radius: 4px;
}
@media (min-width: 920px) {
  .contact .contact-form div input, .contact .contact-form div textarea {
    margin: 1rem 0;
  }
}
.contact .contact-form div textarea {
  height: 10rem;
  border: 1px solid white;
  padding: 0.5rem 0 0 2%;
  resize: none;
}
.contact .contact-form div .error {
  color: #f43c3c;
  font-size: 0.9rem;
  display: block;
  text-align: left;
  margin-top: 0.3rem;
}
.contact button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 10%;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.5s;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contact button:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}
.contact .success-message p {
  color: #35d535;
  font-size: 1.2rem;
  margin: 0 auto 3rem;
  display: block;
  width: 77%;
  text-align: center;
}

.singleProject .general_content {
  display: flex;
}
.singleProject .general_content .img_container {
  width: 100%;
  margin-top: 2rem;
}
@media (min-width: 920px) {
  .singleProject .general_content .img_container {
    width: 50%;
    margin-top: 0;
  }
}
.singleProject .general_content .img_container img {
  width: 100%;
  height: 100%;
}
.singleProject .general_content h3 {
  color: #C0A062;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.singleProject .general_content p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.singleProject .description {
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}
@media (min-width: 920px) {
  .singleProject .description {
    flex-direction: row;
    gap: 5rem;
  }
}
.singleProject .description .content_container {
  width: 100%;
}
@media (min-width: 920px) {
  .singleProject .description .content_container {
    width: 50%;
  }
}
.singleProject .description .content_container p {
  margin-bottom: 2rem;
}
.singleProject .description .content_container .links_container {
  display: flex;
  justify-content: space-between;
}
.singleProject .description .content_container .links_container a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: #C0A062;
  border: 1px solid #C0A062;
  padding: 0.5rem 0;
  width: 40%;
  text-align: center;
  transition: 1s;
}
.singleProject .description .content_container .links_container a:hover {
  color: black;
  background-color: #C0A062;
  transition: 1s;
}
.singleProject .functionalities {
  flex-direction: column-reverse;
  margin-bottom: 4rem;
}
@media (min-width: 920px) {
  .singleProject .functionalities {
    margin-bottom: 6rem;
    flex-direction: row;
    gap: 5rem;
    align-items: flex-start;
  }
}
.singleProject .functionalities .functionalities_container {
  width: 100%;
}
@media (min-width: 920px) {
  .singleProject .functionalities .functionalities_container {
    width: 50%;
    position: sticky;
    top: 2rem;
  }
}
.singleProject .functionalities .functionalities_container p {
  margin-bottom: 1rem;
}
.singleProject .functionalities .functionalities_container p:last-child {
  margin-bottom: 0;
}
.singleProject .return_to_projects {
  color: #C0A062;
  border: 1px solid #C0A062;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  padding: 0.8rem 0;
  text-align: center;
  display: block;
  width: 60%;
  margin: auto;
  transition: 1s;
}
@media (min-width: 800px) {
  .singleProject .return_to_projects {
    width: 35%;
  }
}
@media (min-width: 920px) {
  .singleProject .return_to_projects {
    width: 25%;
  }
}
.singleProject .return_to_projects:hover {
  color: black;
  background-color: #C0A062;
  transition: 1s;
}

@media (min-width: 800px) {
  .projects .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
@media (min-width: 920px) {
  .projects .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
}
.projects .projects__container article {
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  transition: 1s;
  margin: 0 auto 4rem;
  width: 75%;
}
@media (min-width: 800px) {
  .projects .projects__container article {
    width: 90%;
    margin-bottom: 0;
  }
}
@media (min-width: 920px) {
  .projects .projects__container article {
    width: 100%;
    margin-bottom: 0;
  }
}
.projects .projects__container article a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.projects .projects__container article .img_container {
  width: 100%;
  margin-top: 2rem;
}
@media (min-width: 920px) {
  .projects .projects__container article .img_container {
    width: 100%;
    margin-top: 0;
  }
}
.projects .projects__container article .img_container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.projects .projects__container article h4 {
  background-color: #C0A062;
  width: 65%;
  text-align: center;
  padding: 0.5rem 0;
  position: absolute;
  bottom: -0.5rem;
  left: 10%;
  rotate: -2deg;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border-radius: 5px;
}
.projects .projects__container article:hover {
  transform: scale(1.07);
  transition: 1s;
}

.about .introduction__container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 920px) {
  .about .introduction__container {
    flex-direction: row;
  }
}
@media (min-width: 920px) {
  .about .introduction__container section {
    width: 50%;
  }
}
.about .introduction__container section article:nth-child(2) {
  margin-bottom: 2rem;
}
.about .introduction__container section article h4 {
  color: #C0A062;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.about .introduction__container section article p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
@media (min-width: 920px) {
  .about .introduction__container .img__container {
    width: 35%;
  }
}
.about .introduction__container .img__container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.about .competencies {
  margin-top: 6rem;
}
.about .competencies .highway-slider {
  display: flex;
  overflow: hidden;
  width: 140%;
  margin-left: -20%;
  padding: 2rem 0;
}
.about .competencies .highway-slider .highway-lane {
  display: flex;
  width: 2864px;
  animation: scroll 10s linear infinite;
  gap: 7rem;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1432px);
  }
}
.about .competencies .highway-slider .highway-lane .highway-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4%;
  flex-shrink: 0;
}
.about .competencies .highway-slider .highway-lane .highway-card img {
  width: 100%;
  height: auto;
}
.about h3 {
  font-size: 1.5rem;
  color: #C0A062;
  text-align: center;
}
.about .scholar {
  margin-top: 6rem;
  position: relative;
}
.about .scholar div {
  margin-top: 2rem;
}
@media (min-width: 920px) {
  .about .scholar div {
    margin-top: 4rem;
  }
}
.about .scholar div .scholar_container {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 920px) {
  .about .scholar div .scholar_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 0;
    z-index: 1;
    background-color: #C0A062;
    transform: translateX(-50%);
    transition: height 1s ease-in-out;
  }
}
.about .scholar div .scholar_container.line-animation::before {
  height: 100%;
}
.about .scholar div .scholar_container .scholar_item {
  position: relative;
  margin-bottom: 5rem;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
@media (min-width: 920px) {
  .about .scholar div .scholar_container .scholar_item:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 4px;
    background-color: #C0A062;
    transition: width 0.5s ease-in-out;
  }
}
.about .scholar div .scholar_container .scholar_item:last-child {
  margin-bottom: 0;
}
@media (min-width: 920px) {
  .about .scholar div .scholar_container .scholar_item {
    width: 50%;
    text-align: start;
  }
  .about .scholar div .scholar_container .scholar_item:nth-child(odd) {
    text-align: end;
  }
  .about .scholar div .scholar_container .scholar_item:nth-child(odd) article {
    margin-right: 20%;
  }
  .about .scholar div .scholar_container .scholar_item:nth-child(odd)::before {
    left: 90%;
  }
  .about .scholar div .scholar_container .scholar_item:nth-child(even) {
    align-self: flex-end;
    text-align: start;
  }
  .about .scholar div .scholar_container .scholar_item:nth-child(even) article {
    margin-left: 20%;
  }
  .about .scholar div .scholar_container .scholar_item:nth-child(even)::before {
    right: 90%;
  }
}
.about .scholar div .scholar_container .scholar_item article {
  padding: 1rem 0;
  border-radius: 10px;
  position: relative;
}
@media (min-width: 920px) {
  .about .scholar div .scholar_container .scholar_item article {
    padding: 1rem;
  }
}
.about .scholar div .scholar_container .scholar_item article::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 49.7%;
  rotate: -180deg;
  width: 4px;
  height: 70%;
  background-color: #C0A062;
  transition: width 0.5s ease-in-out;
}
@media (min-width: 920px) {
  .about .scholar div .scholar_container .scholar_item article::after {
    content: none;
  }
}
.about .scholar div .scholar_container .scholar_item article p {
  color: #C0A062;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about .scholar div .scholar_container .scholar_item article h4 {
  font-family: Raleway, Arial, Helvetica, Tahoma, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.about .scholar div .scholar_container .scholar_item:last-child article::after {
  content: none;
}
.about .scholar div .scholar_container .visible {
  opacity: 1;
  transform: translateY(0);
}
.about .scholar div .scholar_container .line-visible::before {
  width: 10%;
}

.legacies {
  width: 80%;
  margin: 5rem auto auto;
}
@media (min-width: 800px) {
  .legacies {
    margin: 8rem auto auto;
  }
}
.legacies .legacies__container h3 {
  font-size: 1.5rem;
  color: #C0A062;
  margin: 4rem 0 1rem;
}
.legacies .legacies__container p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
.legacies .legacies__container p a {
  color: dodgerblue;
}
.legacies .legacies__container p a:hover {
  text-decoration: underline;
}

footer {
  padding: 2rem 0;
  width: 100%;
  margin-top: 3rem;
  background-color: #2B2A2A;
}
@media (min-width: 800px) {
  footer {
    margin-top: 6rem;
  }
}
@media (min-width: 1800px) {
  footer {
    width: 50%;
    margin: 3rem auto auto;
  }
}
@media (min-width: 1900px) {
  footer {
    width: 40%;
  }
}
footer .footer-list {
  width: 80%;
  margin: auto;
}
@media (min-width: 800px) {
  footer .footer-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}
footer .footer_nav, footer .coords, footer .socials {
  margin-bottom: 1rem;
  width: 100%;
}
@media (min-width: 800px) {
  footer .footer_nav, footer .coords, footer .socials {
    margin-bottom: 0;
    width: 33%;
  }
}
footer .footer_nav h3, footer .coords h3, footer .socials h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
@media (min-width: 800px) {
  footer .footer_nav h3, footer .coords h3, footer .socials h3 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }
}
footer .footer_nav h3 .hidden, footer .coords h3 .hidden, footer .socials h3 .hidden {
  visibility: hidden;
}
footer .footer_nav li, footer .coords li, footer .socials li {
  margin: 0 0 0.5rem 3%;
  font-size: 1rem;
  line-height: 1rem;
}
@media (min-width: 800px) {
  footer .footer_nav li, footer .coords li, footer .socials li {
    margin-bottom: 1rem;
  }
}
@media (min-width: 800px) {
  footer .coords {
    text-align: center;
  }
}
footer .coords p {
  margin-left: 0;
}
footer .socials {
  margin: 0;
}
@media (min-width: 800px) {
  footer .socials {
    text-align: end;
  }
}
footer .socials li {
  margin-right: 3%;
}
footer a:hover {
  text-decoration: underline;
}
footer .legal {
  width: 80%;
  border-top: 1px solid #ffffff;
  margin: 1rem auto 0;
  padding-top: 1rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 800px) {
  footer .legal {
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
