*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

body {
  font-family: Raleway, Arial, Helvetica, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.links {
  color: #C0A062;
  padding: 0.5rem 2%;
  border: 1px solid #C0A062;
  display: block;
  margin: auto;
  font-size: 0.8rem;
  width: 40%;
  text-align: center;
  transition: 0.5s;
}
.links:hover {
  background-color: #C0A062;
  color: black;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .links {
    padding: 1rem 0.2%;
    font-size: 1rem;
  }
}

h1, h2, h3, h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

a {
  text-decoration: none;
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

img {
  object-fit: contain;
}

abbr {
  text-decoration: none;
}

.second-color {
  color: #C0A062;
}

.rectangle:after {
  content: "";
  position: absolute;
  background-color: #2b2a2a;
  width: 10%;
  height: 100%;
  rotate: -15deg;
  z-index: -1;
  top: -5.5rem;
}
@media (min-width: 768px) {
  .rectangle:after {
    rotate: -20deg;
  }
}

.home .rectangle:after {
  left: 55.9%;
}
@media (min-width: 768px) {
  .home .rectangle:after {
    left: 54.2%;
  }
}

.about .rectangle:after {
  left: 105.8%;
}
@media (min-width: 768px) {
  .about .rectangle:after {
    left: 74%;
  }
}

.projects .rectangle:after {
  left: 64%;
}
@media (min-width: 768px) {
  .projects .rectangle:after {
    left: 71.8%;
  }
}

.singleProject .rectangle:after {
  left: 84%;
}
@media (min-width: 768px) {
  .singleProject .rectangle:after {
    left: 61.2%;
  }
}

.contact .rectangle:after {
  left: 70%;
}
@media (min-width: 768px) {
  .contact .rectangle:after {
    left: 58.8%;
  }
}

.main-nav {
  width: 80%;
  margin: 1rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav a {
  z-index: 999;
}
.main-nav a img {
  height: 5rem;
  width: 50%;
}
.main-nav label {
  width: 1.8rem;
  cursor: pointer;
  z-index: 999;
  margin-left: auto;
}
.main-nav label :last-child {
  margin-bottom: 0;
}
.main-nav label span {
  display: block;
  margin-bottom: 5px;
  background-color: white;
  width: 100%;
  min-height: 0.2rem;
  border-radius: 5px;
  text-align: center;
}
.main-nav nav {
  visibility: hidden;
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  z-index: 1;
  background-color: black;
  padding-top: 60%;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.main-nav nav li {
  margin: 3rem auto 0;
  border-bottom: 1px solid #C0A062;
  width: 40%;
  padding-bottom: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
}
.main-nav nav .contact-nav {
  border-bottom: none;
}
.main-nav input:checked ~ nav {
  visibility: visible;
  right: 0;
  display: block;
}
@media (min-width: 768px) {
  .main-nav input, .main-nav label {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
  }
  .main-nav nav {
    visibility: visible;
    background-color: transparent;
    position: static;
    padding: 0;
    width: 50%;
  }
  .main-nav nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-nav nav ul li {
    margin: 0;
    width: auto;
    padding: 0;
    border-bottom: none;
  }
}

.current_page {
  color: #C0A062;
  font-weight: 700;
}

.home {
  width: 80%;
  text-align: center;
  overflow: hidden;
  margin: 5rem auto auto;
}
@media (min-width: 768px) {
  .home {
    margin: 8rem auto auto;
  }
}
.home div {
  margin-bottom: 2rem;
}
.home div h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.home div .name {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
@media (min-width: 768px) {
  .home div .name {
    font-size: 1.2rem;
    margin: 2rem auto;
  }
}
.home div p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .home div p {
    margin: 2rem auto;
  }
}
.home div a {
  width: 30%;
  padding: 0.7rem 2%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.home img {
  border-radius: 15px;
  width: 60%;
}
@media (min-width: 768px) {
  .home img {
    width: 22%;
    margin-left: 20%;
  }
}
@media (min-width: 768px) {
  .home {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contact {
  width: 80%;
  margin: 5rem auto auto;
}
@media (min-width: 768px) {
  .contact {
    margin: 8rem auto auto;
  }
}
.contact h2 {
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  .contact div {
    display: flex;
  }
}
@media (min-width: 768px) {
  .contact div .contact-information {
    width: 40%;
    margin-right: 20%;
  }
}
.contact div .contact-information div {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.contact div .contact-information div img {
  margin-right: 10%;
}
@media (min-width: 768px) {
  .contact div .contact-information div img {
    margin-right: 5%;
  }
}
.contact div .contact-information #phone {
  height: 4rem;
}
.contact div .contact-information #letter {
  height: 2rem;
}
.contact div .contact-information .introducing-sentence {
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.contact .contact-form {
  text-align: center;
  margin-top: 5rem;
}
@media (min-width: 768px) {
  .contact .contact-form {
    width: 40%;
    margin-top: 0;
  }
}
.contact .contact-form div {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact .contact-form div label {
  margin-top: 0.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contact .contact-form div input, .contact .contact-form div textarea {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin: 1rem 0;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .contact .contact-form div input, .contact .contact-form div textarea {
    margin: 1rem 0;
  }
}
.contact .contact-form div textarea {
  height: 10rem;
  border: 1px solid white;
  padding: 0.5rem 0 0 2%;
}
.contact .contact-form div .error {
  color: #f43c3c;
  font-size: 0.7rem;
  display: block;
  text-align: left;
  margin-top: 0.3rem;
}
.contact button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 10%;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.5s;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contact button:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}
.contact .success-message {
  color: #35d535;
  font-size: 0.7rem;
  margin: 0 auto 3rem;
  display: block;
  width: 77%;
  text-align: center;
}
@media (min-width: 768px) {
  .contact .success-message {
    font-size: 0.8rem;
  }
}

.singleProject {
  width: 80%;
  margin: 5rem auto auto;
}
@media (min-width: 768px) {
  .singleProject {
    margin: 8rem auto auto;
  }
}
.singleProject h4 {
  font-size: 1rem;
}
.singleProject p {
  font-size: 0.8rem;
  margin: 2rem auto;
  line-height: 1.2rem;
}
.singleProject .description {
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .singleProject .description {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .singleProject .description .written-description {
    width: 50%;
  }
}
.singleProject .description .officials-links {
  display: flex;
  margin-top: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .singleProject .description .officials-links {
    margin: 0;
  }
}
.singleProject .description #portfolio-img {
  width: 100%;
  height: 0%;
  margin: 2rem auto 0.5rem;
}
@media (min-width: 768px) {
  .singleProject .description #portfolio-img {
    height: 12rem;
    width: 39%;
    margin: 0;
  }
}
.singleProject .fonctionnalities {
  margin-top: 10rem;
}
@media (min-width: 768px) {
  .singleProject .fonctionnalities {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) {
  .singleProject .fonctionnalities .written-fonctionnalities {
    width: 47%;
  }
}
.singleProject .fonctionnalities img {
  margin-right: 2.2%;
}
@media (min-width: 768px) {
  .singleProject .fonctionnalities img {
    width: 2%;
  }
}
.singleProject .mini-img {
  display: none;
}
@media (min-width: 768px) {
  .singleProject .mini-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10%;
  }
  .singleProject .mini-img img {
    width: 29%;
    height: auto;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .singleProject .mini-img img {
    width: 100%;
  }
}
.singleProject .projects-link {
  margin: 4rem auto 4rem;
}
@media (min-width: 768px) {
  .singleProject .projects-link {
    width: 20%;
  }
}

.projects {
  width: 80%;
  margin: 5rem auto auto;
}
@media (min-width: 768px) {
  .projects {
    margin: 8rem auto auto;
  }
}
@media (min-width: 768px) {
  .projects section {
    margin-top: 10rem;
  }
}
@media (min-width: 768px) {
  .projects ul {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
  }
  .projects ul li:nth-child(2n) {
    margin-top: 15rem;
  }
  .projects ul li:nth-child(2n+1) {
    margin-top: -5rem;
  }
}
.projects ul li {
  transition: transform 0.7s;
}
@media (min-width: 768px) {
  .projects ul li:hover {
    transform: scale(1.05);
  }
  .projects ul li .desktop-projects-color {
    display: none;
    width: 100%;
    filter: grayscale(100);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .projects ul li .desktop-projects-color {
    display: block;
  }
  .projects ul li .desktop-projects-color:hover {
    filter: grayscale(0);
  }
}
@media (min-width: 768px) {
  .projects ul li article {
    text-align: center;
    position: relative;
    margin-top: 5rem;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .projects ul li article {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .projects ul li article h4 {
    color: #C0A062;
    margin-bottom: 1rem;
    z-index: 1;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .projects ul li article h4 {
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .projects ul li article .mobile-projects {
    width: 80%;
    height: 0%;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .projects ul li article .mobile-projects {
    display: none;
  }
}

.about {
  width: 80%;
  margin: 5rem auto auto;
}
@media (min-width: 768px) {
  .about {
    margin: 8rem auto auto;
  }
}
.about h2 {
  font-size: 1.8rem;
}
.about .introduction__container {
  display: flex;
}
.about .introduction__container article:nth-child(2) {
  margin-bottom: 2rem;
}
.about .introduction__container article h4 {
  color: #C0A062;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.about .introduction__container article p {
  line-height: 1.5rem;
}
.about .competencies {
  margin-top: 4rem;
}
.about .competencies .highway-slider {
  display: flex;
  overflow: hidden;
  width: 140%;
  margin-left: -20%;
  background-color: #2B2A2A;
  padding: 2rem 0;
}
.about .competencies .highway-slider .highway-lane {
  display: flex;
  width: 2864px;
  animation: scroll 10s linear infinite;
  gap: 7rem;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1432px);
  }
}
.about .competencies .highway-slider .highway-lane .highway-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4%;
  flex-shrink: 0;
}
.about .competencies .highway-slider .highway-lane .highway-card img {
  width: 100%;
  height: auto;
}
.about .scholar {
  margin-top: 4rem;
}
.about .scholar div ol {
  display: flex;
  flex-direction: column;
}
.about .scholar div ol li {
  margin-bottom: 10rem;
}
.about .scholar div ol li:last-child {
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .about .scholar div ol li {
    width: 50%;
  }
  .about .scholar div ol li:nth-child(odd) {
    text-align: end;
  }
  .about .scholar div ol li:nth-child(odd) article {
    margin-right: 20%;
  }
  .about .scholar div ol li:nth-child(even) {
    align-self: flex-end;
  }
  .about .scholar div ol li:nth-child(even) article {
    margin-left: 20%;
  }
}
.about .scholar div ol li article p {
  color: #C0A062;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about .scholar div ol li article h4 {
  font-family: Raleway, Arial, Helvetica, Tahoma, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

footer {
  padding: 2rem 0;
  width: 100%;
  margin-top: 3rem;
  background-color: #2B2A2A;
}
@media (min-width: 768px) {
  footer {
    margin-top: 5rem;
  }
}
footer .footer-list {
  width: 80%;
  margin: auto;
}
@media (min-width: 1024px) {
  footer .footer-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}
footer .footer_nav, footer .coords, footer .socials {
  margin-bottom: 2rem;
  width: 100%;
}
@media (min-width: 768px) {
  footer .footer_nav, footer .coords, footer .socials {
    margin-bottom: 0;
    width: 33%;
  }
}
footer .footer_nav h3, footer .coords h3, footer .socials h3 {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  footer .footer_nav h3, footer .coords h3, footer .socials h3 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }
}
footer .footer_nav h3 .hidden, footer .coords h3 .hidden, footer .socials h3 .hidden {
  visibility: hidden;
}
footer .footer_nav li, footer .coords li, footer .socials li {
  margin: 0 0 0.3rem 3%;
  font-size: 0.8rem;
  line-height: 1rem;
}
@media (min-width: 768px) {
  footer .footer_nav li, footer .coords li, footer .socials li {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  footer .coords {
    text-align: center;
  }
}
footer .coords p {
  margin-left: 0;
}
footer .socials {
  margin: 0;
}
@media (min-width: 768px) {
  footer .socials {
    text-align: end;
  }
}
footer .socials li {
  margin-right: 3%;
}
footer a:hover {
  text-decoration: underline;
}
footer .legal {
  width: 80%;
  border-top: 1px solid black;
  margin: 2rem auto 0;
  padding-top: 2rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  footer .legal {
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
