@import "size";

.about {
  .introduction__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    @media (min-width: $breakpoint-l) {
      flex-direction: row;
    }

    section {
      @media (min-width: $breakpoint-l) {
        width: 50%;
      }

      article {
        &:nth-child(2) {
          margin-bottom: 2rem;
        }

        h4 {
          color: #C0A062;
          margin-bottom: 1rem;
          font-size: 1.5rem;
        }

        p {
          font-size: 1.2rem;
          line-height: 1.5rem;
        }
      }
    }

    .img__container {
      @media (min-width: $breakpoint-l) {
        width: 35%;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }

  .competencies {
    margin-top: 6rem;

    .highway-slider {
      display: flex;
      overflow: hidden;
      width: 140%;
      margin-left: -20%;
      padding: 2rem 0;

      .highway-lane {
        display: flex;
        width: calc(179px * 16);
        animation: scroll 10s linear infinite;
        gap: 7rem;

        @keyframes scroll {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(calc(-179px * 8));
          }
        }

        .highway-card {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 4%;
          flex-shrink: 0;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  h3 {
    font-size: 1.5rem;
    color: #C0A062;
    text-align: center;
  }

  .scholar {
    margin-top: 6rem;
    position: relative;

    div {
      margin-top: 2rem;
      @media (min-width: $breakpoint-l) {
        margin-top: 4rem;
      }

      .scholar_container {
        display: flex;
        flex-direction: column;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          width: 4px;
          height: 0;
          background-color: #C0A062;
          transform: translateX(-50%);
          transition: height 1s ease-in-out;
        }

        &.line-animation::before {
          height: 100%;
        }

        .scholar_item {
          position: relative;
          margin-bottom: 5rem;
          text-align: center;
          opacity: 0;
          transform: translateY(30px);
          background-color: black;
          transition: opacity 0.6s ease-out, transform 0.6s ease-out;

          @media (min-width: $breakpoint-l) {
            background-color: transparent;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              width: 0;
              height: 4px;
              background-color: #C0A062;
              transition: width 0.5s ease-in-out;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }

          @media (min-width: $breakpoint-l) {
            width: 50%;
            text-align: start;

            &:nth-child(odd) {
              text-align: end;

              article {
                margin-right: 20%;
              }

              &::before {
                left: 90%;
              }
            }

            &:nth-child(even) {
              align-self: flex-end;
              text-align: start;

              article {
                margin-left: 20%;
              }

              &::before {
                right: 90%;
              }
            }
          }

          article {
            padding: 1rem 0;
            border-radius: 10px;
            position: relative;

            @media (min-width: $breakpoint-l) {
              padding: 1rem;
            }

            p {
              color: #C0A062;
              font-family: Georgia, "Times New Roman", Times, serif;
              font-size: 2rem;
              margin-bottom: 1rem;
            }

            h4 {
              font-family: Raleway, Arial, Helvetica, Tahoma, sans-serif;
              font-size: 1.2rem;
              margin-bottom: 0.5rem;
            }
          }
        }

        .visible {
          opacity: 1;
          transform: translateY(0);
        }

        .line-visible::before {
          width: 10%;
        }
      }
    }
  }
}
