@import "size";

.about {
  width: 80%;
  margin: 5rem auto auto;
  @media (min-width: $breakpoint-m) {
    margin: 8rem auto auto;
  }

  h2 {
    font-size: 1.8rem;
  }

  .introduction__container {
    display: flex;

    article {

      &:nth-child(2) {
        margin-bottom: 2rem;
      }

      h4 {
        color: #C0A062;
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }

      p {
        line-height: 1.5rem;
      }
    }
  }

  .competencies {
    margin-top: 4rem;
    .highway-slider {
      display: flex;
      overflow: hidden;
      width: 140%;
      margin-left: -20%;
      background-color: #2B2A2A;
      padding: 2rem 0;

      .highway-lane {
        display: flex;
        width: calc(179px * 16);
        animation: scroll 10s linear infinite;
        gap: 7rem;

        @keyframes scroll {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(calc(-179px * 8));
          }
        }

        .highway-card {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 4%;
          flex-shrink: 0;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  .scholar {
    margin-top: 4rem;

    div {
      ol {
        display: flex;
        flex-direction: column;
        li {
          margin-bottom: 10rem;
          &:last-child{
            margin-bottom: 0;
          }
          @media (min-width: $breakpoint-l) {
            width: 50%;
            &:nth-child(odd) {
              text-align: end;

              article {
                margin-right: 20%;
              }
            }

            &:nth-child(even) {
              align-self: flex-end;

              article {
                margin-left: 20%;
              }
            }
          }

          article {
            p {
              color: #C0A062;
              font-family: Georgia, "Times New Roman", Times, serif;
              font-size: 2rem;
              margin-bottom: 1rem;
            }

            h4 {
              font-family: Raleway, Arial, Helvetica, Tahoma, sans-serif;
              font-size: 1.2rem;
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
}
