@import "size";

.home {
  width: 80%;
  margin: auto;
  @media (min-width: $breakpoint-xxl) {
    width: 50%;
  }
  @media (min-width: $breakpoint-xxxl) {
    width: 40%;
  }

  .intro {
    margin: 5rem auto;
    @media (min-width: $breakpoint-m) {
      margin: 6rem auto;
      display: flex;
      align-items: center;
    }

    div {
      margin-bottom: 4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @media (min-width: $breakpoint-m) {
        width: 50%;
        margin-bottom: 0;
      }

      h2 {
        font-size: 3rem;
        line-height: 3rem;
        margin: 0;
      }

      .name {
        font-size: 2rem;
        font-style: italic;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: #C0A062;
      }

      p {
        font-size: 1.5rem;
        line-height: 2rem;
      }

      a {
        width: 50%;
        font-size: 1.5rem;
        padding: 0.7rem 0;
        font-family: Georgia, "Times New Roman", Times, serif;
        margin: 0;
      }
    }

    .img__container {
      @media (min-width: $breakpoint-m) {
        margin-left: auto;
        width: 35%;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}

