body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 10%;
  width: 20vw;
  height: 100vh;
  background-color: #2B2A2A;
  transform: skewX(30.5deg);
  transform-origin: top right;
  z-index: -1;
  pointer-events: none;

  @media (min-width: $breakpoint-m) {
    width: 10vw;
    left: 50%;
  }
}
