.rectangle:after{
  content: "";
  position: fixed;
  background-color: #2B2A2AFF;
  width: 30%;
  height: 140vh;
  rotate: -15deg;
  z-index: -1;
  top: -5rem;
  left: 55%;

  @media (min-width: $breakpoint-m) {
    left: 65%;
    width: 10%;
    rotate: -29deg;
  }
}