@import "size";


.singleProject {
  .general_content {
    display: flex;

    .img_container {
      width: 100%;
      margin-top: 2rem;
      @media (min-width: $breakpoint-l) {
        width: 50%;
        margin-top: 0;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    h3 {
      color: #C0A062;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.5rem;

    }
  }

  .description {
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
    @media (min-width: $breakpoint-l) {
      flex-direction: row;
      gap: 5rem;
    }

    .content_container {
      width: 100%;
      @media (min-width: $breakpoint-l) {
        width: 50%;
      }
      p {
        margin-bottom: 2rem;
      }

      .links_container {
        display: flex;
        justify-content: space-between;

        a {
          font-family: Georgia, "Times New Roman", Times, serif;
          font-size: 1.2rem;
          color: #C0A062;
          border: 1px solid #C0A062;
          padding: 0.5rem 0;
          width: 40%;
          text-align: center;
          transition: 1s;

          &:hover {
            color: black;
            background-color: #C0A062;
            transition: 1s;
          }
        }
      }
    }
  }

  .functionalities {
    flex-direction: column-reverse;
    margin-bottom: 4rem;
    @media (min-width: $breakpoint-l) {
      margin-bottom: 6rem;
      flex-direction: row;
      gap: 5rem;
      align-items: flex-start;
    }

    .functionalities_container {
      width: 100%;
      @media (min-width: $breakpoint-l) {
        width: 50%;
        position: sticky;
        top: 2rem;
      }

      p {
        margin-bottom: 1rem;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

  .projects__container{
    margin-bottom: 4rem;
    @media (min-width: $breakpoint-l) {
      margin-bottom: 6rem;
    }
    h3{
      color: #C0A062;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .return_to_projects {
    color: #C0A062;
    border: 1px solid #C0A062;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2rem;
    padding: 0.8rem 0;
    text-align: center;
    display: block;
    width: 60%;
    margin: auto;
    transition: 1s;
    @media (min-width: $breakpoint-m) {
      width: 35%;
    }
    @media (min-width: $breakpoint-l) {
      width: 25%;
    }

    &:hover {
      color: black;
      background-color: #C0A062;
      transition: 1s;
    }
  }
}