<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Anthony Coppens">
    <meta name="keywords" content="html, portfolio, projets, infographie, site, web, design">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Portfolio - À propos</title>
</head>
<body>
<header class="header">
    <h1 class="sr-only">À propos</h1>
    <nav class="main-nav">
        <h2 class="sr-only">
            Navigation principale
        </h2>
        <a href="/" title="Retour à l'accueil">AC</a>
        <div class="burger-menu">
            <input type="checkbox" id="menu__toggle">
            <label for="menu__toggle" class="burger-button">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <ul class="menu__box">
                <li><a class="menu__item" href="/" title="Vers la page d'Accueil">Accueil</a></li>
                <li><a class="current_page menu__item menu__item" href="" title="Vers la page à propos">À propos</a>
                </li>
                <li><a class="menu__item menu__item" href="projects.html" title="Vers mes projets ">Projets</a></li>
                <li class="contact-nav"><a class="menu__item" href="contact.html" title="Vers la page de Contact">Contact</a></li>
            </ul>
            <ul class="desktop-nav">
                <li><a class="menu__item" href="/" title="Vers la page d'Accueil">Accueil</a></li>
                <li><a class="current_page menu__item menu__item" href="" title="Vers la page à propos">À propos</a>
                </li>
                <li><a class="menu__item menu__item" href="projects.html" title="Vers mes projets ">Projets</a></li>
                <li class="contact-nav"><a class="menu__item" href="contact.html" title="Vers la page de Contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="about">
    <h2>À propos de moi</h2>
    <section class="introduction">
        <h3 class="sr-only">Petite introduction</h3>
        <img src="" alt="Photo de moi">
        <p>Bonjour, je suis <span class="second-color">Anthony Coppens</span>, étudiant en deuxième année de <span
                class="second-color">développement web</span> à l'HEPL de Seraing. Je
            vous invite à découvrir mon <span class="second-color">portfolio</span>, où je présente mes réalisations
            variées dans les domaines de la
            conception graphique, du développement web et de l'UX/UI design. Mon parcours académique m'a permis de
            développer une expertise dans la création de sites internet responsifs, d'applications web interactives et
            de prototypes fonctionnels.</p>
    </section>
    <section class="information">
        <h3 class="sr-only">Informations importantes</h3>
        <ul>
            <li>
                <article class="scolarity">
                    <h4>Mon parcours scolaire</h4>
                    <ul>
                        <li>
                            <article>
                                <h5>Bachelier en développement web</h5>
                                <p>
                                    <i>2022 - Aujourd'hui</i>
                                </p>
                                <p class="description">
                                    Je suis actuellement étudiant en développement web à la Haute École de la Province
                                    de Liège. Ce bachelier me permet d'acquérir des compétences approfondies en
                                    programmation, en design et en gestion de projets web, me préparant ainsi à une
                                    carrière passionnante dans le domaine du numérique.
                                </p>
                            </article>
                        </li>
                        <li>
                            <article>
                                <h5>Secondaires</h5>
                                <p>
                                    <i>2016 - 2022</i>
                                </p>
                                <p class="description">J'ai effectué mes études secondaires au Collège Sainte-Croix et
                                    Notre-Dame à Hannut, en section générale avec une spécialisation en sciences
                                    économiques. J'ai également étudié l'anglais et l'espagnol, ce qui m'a permis de
                                    développer une base linguistique solide.</p>
                            </article>
                        </li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="competencies">
                    <h4>Mes compétences</h4>
                    <ul>
                        <li>
                            <article>
                                <h5>UX/UI Design</h5>
                                <ul>
                                    <li>
                                        Adobe Illustrator
                                    </li>
                                    <li>
                                        Adobe Photoshop
                                    </li>
                                    <li>
                                        Adobe XD
                                    </li>
                                    <li>
                                        Figma
                                    </li>

                                </ul>
                            </article>
                        </li>
                        <li>
                            <article>
                                <h5>Front-end</h5>
                                <ul>
                                    <li>
                                        HTML
                                    </li>
                                    <li>
                                        CSS
                                    </li>
                                    <li>
                                        SCSS
                                    </li>
                                    <li>
                                        JavaScript
                                    </li>
                                    <li>
                                        TypeScript
                                    </li>
                                </ul>
                            </article>
                        </li>
                        <li>
                            <article>
                                <h5>Back-end</h5>
                                <ul>
                                    <li>
                                        PHP
                                    </li>
                                    <li>
                                        SQL
                                    </li>
                                </ul>
                            </article>
                        </li>
                    </ul>
                </article>
            </li>
        </ul>
    </section>
    <div class="rectangle"></div>
</main>
<footer>
    <section>
        <h2 class="sr-only">Footer</h2>
        <ul class="footer-list">
            <li>
                <article>
                    <h3>Navigation</h3>
                    <ul>
                        <li>
                            <a href="/" title="Vers la page d'accueil">Accueil</a>
                        </li>
                        <li>
                            <a href="about.html" title="Vers la page à propos">À propos</a>
                        </li>
                        <li>
                            <a href="projects.html" title="Vers mes projets">Projets</a>
                        </li>
                        <li>
                            <a href="contact.html" title="Vers la page de contact">Contact</a>
                        </li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="coords">
                    <h3>Coordonnées</h3>
                    <p>anthonycoppens04@gmail.com</p>
                    <p>0477.81.06.47</p>
                    <p>Rue Henri Collin 21,</p>
                    <p>1350, Orp-Le-Grand</p>
                </article>
            </li>
            <li>
                <article class="socials">
                    <h3>Mes réseaux</h3>
                    <p>
                        <a href="https://github.com/Coppens-Anthony" title="Vers mon compte Github">Github</a>
                    </p>
                    <p>
                        <a href="https://www.linkedin.com/in/anthony-coppens-8ba3832a7/" title="Vers mon compte LinkedIn">LinkedIn</a>
                    </p>
                    <p>
                        <a href="https://www.instagram.com/anthony_coppens/?hl=fr" title="Vers mon compte Instagram" >Instagram</a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/anthony.coppens.04/?locale=fr_FR" title="Vers mon compte Facebook">Facebook</a>
                    </p>
                </article>
            </li>
        </ul>
    </section>
</footer>
</body>
</html>