<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Anthony Coppens">
    <meta name="keywords" content="html, portfolio, projets, infographie, site, web, design">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Portfolio</title>
</head>
<body>
<header class="header">
    <h1 class="sr-only">À propos</h1>
    <nav class="main-nav">
        <h2 class="sr-only">
            Navigation principale
        </h2>
        <a href="/" title="Retour à l'accueil">AC</a>
        <div class="burger-menu">
            <input type="checkbox" id="menu__toggle">
            <label for="menu__toggle" class="burger-button">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <ul class="menu__box">
                <li><a class="menu__item" href="/" title="Vers la page d'Accueil">Accueil</a></li>
                <li><a class=" menu__item menu__item" href="" title="Vers la page à propos">À propos</a>
                </li>
                <li><a class="current_page menu__item menu__item" href="projects.html"
                       title="Vers mes projets ">Projets</a></li>
                <li class="contact-nav"><a class="menu__item" href="contact.html" title="Vers la page de Contact">Contact</a>
                </li>
            </ul>
            <ul class="desktop-nav">
                <li><a class="menu__item" href="/" title="Vers la page d'Accueil">Accueil</a></li>
                <li><a class="menu__item menu__item" href="" title="Vers la page à propos">À propos</a>
                </li>
                <li><a class="current_page menu__item menu__item" href="projects.html"
                       title="Vers mes projets ">Projets</a></li>
                <li class="contact-nav"><a class="menu__item" href="contact.html" title="Vers la page de Contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="singleProject">
    <h2>Portfolio</h2>
    <section class="project-description">
        <h3 class="sr-only">Informations sur le projet</h3>
        <article class="description">
            <h4>Description</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cumque, delectus dolores explicabo id
                ipsum iure minus nobis optio, quisquam quo ratione, reiciendis sequi unde ut veniam voluptatibus!
                Delectus, illum.</p>
            <div class="officials-links">
                <a class="links" href="">visiter le site</a>
                <a class="links" href="">Voir le Github</a>
            </div>
            <img id="portfolio-img" src="/src/img/desktopPortfolio.png" alt="Image du site">
            <div class="desktop-img">
                <img src="/src/img/desktopCV.png" alt="Image du site">
                <img src="/src/img/desktopClient.png" alt="Image du site">
            </div>
        </article>
        <article class="fonctionnalities">
            <h4>Fonctionnalités</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cumque, delectus dolores explicabo id
                ipsum iure minus nobis optio, quisquam quo ratione, reiciendis sequi unde ut veniam voluptatibus!
                Delectus, illum.</p>
            <div class="mobile-img">
                <img src="" alt="Image du site">
                    <img src="" alt="Image du site">
                    <img src="" alt="Image du site">
                </div>
        </article>
        <a class="links" href="projects.html">Retour aux projets</a>
    </section>
</main>
<footer>
    <section>
        <h2 class="sr-only">Footer</h2>
        <ul class="footer-list">
            <li>
                <article>
                    <h3>Navigation</h3>
                    <ul>
                        <li>
                            <a href="/">Accueil</a>
                        </li>
                        <li>
                            <a href="about.html">À propos</a>
                        </li>
                        <li>
                            <a href="projects.html">Projets</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="coords">
                    <h3>Coordonnées</h3>
                    <p>anthonycoppens04@gmail.com</p>
                    <p>0477.81.06.47</p>
                    <p>Rue Henri Collin 21,</p>
                    <p>1350, Orp-Le-Grand</p>
                </article>
            </li>
            <li>
                <article class="socials">
                    <h3>Mes réseaux</h3>
                    <p>
                        <a href="https://github.com/Coppens-Anthony" title="Vers mon compte Github">Github</a>
                    </p>
                    <p>
                        <a href="https://www.linkedin.com/in/anthony-coppens-8ba3832a7/"
                           title="Vers mon compte LinkedIn">LinkedIn</a>
                    </p>
                    <p>
                        <a href="https://www.instagram.com/anthony_coppens/?hl=fr" title="Vers mon compte Instagram">Instagram</a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/anthony.coppens.04/?locale=fr_FR"
                           title="Vers mon compte Facebook">Facebook</a>
                    </p>

                </article>
            </li>
        </ul>
    </section>
</footer>
</body>
</html>