<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Anthony Coppens">
    <meta name="keywords" content="html, portfolio, projets, infographie, site, web, design">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="icon" href="/src/img/svg/SVG/logo.svg">
    <title>Portfolio - Contact</title>
</head>
<body>
<header class="header">
    <h1 class="sr-only">Contact</h1>
    <nav class="main-nav">
        <h2 class="sr-only">
            Navigation principale
        </h2>
        <a href="/" title="Retour &agrave; l&apos;accueil">
            <img src="/src/img/svg/SVG/logo.svg" alt="Logo de mon portfolio">
        </a>
        <div class="burger-menu">
            <input type="checkbox" id="menu__toggle">
            <label for="menu__toggle" class="burger-button">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <ul class="menu__box">
                <li><a class="menu__item" href="/" title="Vers la page d&apos;Accueil">Accueil</a></li>
                <li><a class=" menu__item menu__item" href="about.html" title="Vers la page &agrave; propos">&Agrave; propos</a>
                </li>
                <li><a class="menu__item menu__item" href="projects.html" title="Vers mes projets ">Projets</a></li>
                <li><a class="current_page menu__item"  href="contact.html"
                                                        title="Vers la page de Contact">Contact</a>
                </li>
            </ul>
            <ul class="desktop-nav">
                <li><a class="menu__item" href="/" title="Vers la page d&apos;Accueil">Accueil</a></li>
                <li><a class=" menu__item menu__item" href="about.html" title="Vers la page &agrave; propos">&Agrave; propos</a>
                </li>
                <li><a class="menu__item menu__item" href="projects.html" title="Vers mes projets ">Projets</a></li>
                <li> <a class="current_page menu__item" href="contact.html"
                                                        title="Vers la page de Contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="contact">
    <h2>Contactez-moi</h2>
    <div>
        <section class="contact-information" itemscope itemtype="https://schema.org/Person">
            <h3 class="sr-only">Informations pour me joindre</h3>
            <p class="introducing-sentence">Avez-vous une question ou une demande particuli&egrave;re&nbsp;? Remplissez simplement le formulaire ci-contre ou
                utilisez les informations de contact fournies.</p>
            <div>
                <img id="phone" src="/src/img/svg/SVG/telephone.svg" alt="Icôn de t&eacute;l&eacute;phone">
                <a href="tel:+32477810647" title="T&eacute;l&eacute;phonez moi" itemprop="telephone">0477.81.06.47</a>
            </div>
            <div>
                <img src="/src/img/svg/SVG/letter.svg" id="letter" alt="Icôn d&apos;enveloppe">
                <a href="mailto:anthonycoppens04@gmail.com" title="Envoyez moi un mail" itemprop="email">anthonycoppens04@gmail.com</a>
            </div>
        </section>
        <section class="contact-form">
            <h3 class="sr-only">Formulaire de contact</h3>
            <form action="" method="post">
                <div>
                    <label for="lastname">Nom <span class="second-color">*</span></label>
                    <input type="text" id="lastname" required name="lastname" placeholder="Doe">
                </div>
                <div>
                    <label for="firstname">Pr&eacute;nom <span class="second-color">*</span></label>
                    <input type="text" id="firstname" required name="firstname" placeholder="John">
                </div>

                <div>
                    <label for="email">Email <span class="second-color">*</span></label>
                    <input type="text" id="email" required name="email" placeholder="john.doe@gmail.com">
                </div>

                <div>
                    <label for="subject">Sujet <span class="second-color">*</span></label>
                    <input type="text" id="subject" required name="subject" placeholder="Prise de contact">
                </div>

                <div>
                    <label for="message">Message <span class="second-color">*</span></label>
                    <textarea id="message" required name="message" placeholder="Renseignez votre message..."></textarea>
                </div>
                <button type="submit" title="Soumettre vos donn&eacute;es">Envoyer</button>
            </form>
        </section>
    </div>
    <div class="rectangle"></div>
</main>
<footer>
    <section>
        <h2 class="sr-only">Footer</h2>
        <ul class="footer-list">
            <li>
                <article>
                    <h3>Navigation</h3>
                    <ul>
                        <li>
                            <a href="/" title="Vers la page d&apos;accueil">Accueil</a>
                        </li>
                        <li>
                            <a href="about.html" title="Vers la page &agrave; propos">&Agrave; propos</a>
                        </li>
                        <li>
                            <a href="projects.html" title="Vers mes projets">Projets</a>
                        </li>
                        <li>
                            <a href="contact.html" title="Vers la page de contact">Contact</a>
                        </li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="coords" itemscope itemtype="https://schema.org/Person">
                    <h3>Coordonn&eacute;es</h3>
                    <p itemprop="email">anthonycoppens04@gmail.com</p>
                    <p itemprop="telephone">0477.81.06.47</p>
                    <p itemprop="address">Rue Henri Collin 21,</p>
                    <p itemprop="address">1350, Orp-Le-Grand</p>
                </article>
            </li>
            <li>
                <article class="socials">
                    <h3>Mes r&eacute;seaux</h3>
                    <p>
                        <a href="https://github.com/Coppens-Anthony" title="Vers mon compte Github">Github</a>
                    </p>
                    <p>
                        <a href="https://www.linkedin.com/in/anthony-coppens-8ba3832a7/" title="Vers mon compte LinkedIn">LinkedIn</a>
                    </p>
                    <p>
                        <a href="https://www.instagram.com/anthony_coppens/?hl=fr" title="Vers mon compte Instagram" >Instagram</a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/anthony.coppens.04/?locale=fr_FR" title="Vers mon compte Facebook">Facebook</a>
                    </p>
                </article>
            </li>
        </ul>
    </section>
</footer>
</body>
</html>